/* Layout
-----------------------------*/
html, body, #home {
	height: 100%;
	overflow-x: hidden;    
}
body {		
	background-color: #fefffffd;
	font-family: Helvetica,Arial,sans-serif;
}
/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
	padding: 0px 0px;
	background: rgba(16, 16, 17, 0.6);
}
.navbar-light .navbar-nav .nav-link {
    font-size: 1.2em;
	color: rgb(249, 252, 253);
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #33beff;
}
/* Fim Barra de navegação
-----------------------------*/