/* Layout
-----------------------------*/
html, body, #home {
	height: 100%;
	overflow-x: hidden;    
}
body {		
	background-color: #fefffffd;
	font-family: Helvetica,Arial,sans-serif;
}
/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
	padding: 0px 0px;
	background: rgba(16, 16, 17);
}
.navbar-light .navbar-nav .nav-link {
    font-size: 1.2em;
	color: rgb(249, 252, 253);
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #33beff;
}
/* Fim Barra de navegação
-----------------------------*/
.layout{
    background: url("img/muro.png") repeat;
}
/*Barra redes-sociais */
.midias{
	background-color: rgb(10, 10, 10);
	margin-top: 0px;
}
.rs{
	text-align: center;
}
.imgrs{
	padding-left: 10px;
}
.imgrs:hover{
	background-color: #071820;
}
/*Barra redes-sociais */
.section-sobre{
	background: url("img/bg-sobre.jpg") repeat-x;
}
/*.section-sobre2{
	background: url("img/bg-inverso.jpg") repeat-x;
	margin-bottom: auto;
}*/
.section-sobre3{
	background: url("img/bg-sobre.jpg") repeat-x;
}
/*.section-sobre4{
	background: url("img/bg-inverso.jpg");
}*/
.txt-sobre{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.4em;
}
.final{	
	width: 100%;
}
/* Rodapé
-----------------------------*/
footer {
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}
footer h4 {
	color: #49b3fa;
	font-size: 0.8em;
	text-transform: uppercase;
}
footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}
footer .navbar-nav a:hover {
	color: #9bf0e1;
	text-decoration: none;
}
footer ul {
	list-style: none;
}
footer ul li {
	float: right;
	margin: 0 5px;
}