/* Layout
-----------------------------*/

html, body, #home {
	height: 100%;
	overflow-x: hidden;    
}
body {		
	background-color: #fefffffd;
	font-family: Helvetica,Arial,sans-serif;
}
/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
	padding: 0px 0px;
	background: rgba(16, 16, 17, 0.6);
}
.navbar-light .navbar-nav .nav-link {
    font-size: 1.2em;
	color: rgb(249, 252, 253);
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #33beff;
}
/* Fim Barra de navegação
-----------------------------*/
.home1{
	padding-top: 15px;
	padding-bottom: 15px;
}
.caixa{
	padding-top: 15px;
}
.caixa1{
	background: rgb(243, 243, 243);
}
.caixa1 .albuns{
	margin-top: 15px;
}
.caixa2{
	padding-top: 15px;
}
.midias{
	background-color: rgb(10, 10, 10);
	margin-top: 10px;
	border-radius: 5px;	
}
.rs{
	text-align: center;
}
.imgrs{
	padding-left: 10px;
}
.imgrs:hover{
	background-color: #071820;
}
.rotacionar {	
	padding-left: 120px; 
}

/*barra clipe*/
.barra-clipes{
	background: #000;
	color: rgb(246, 253, 255);
	font-size: 0.8em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-top: 10px;
	margin-bottom: 5px;
}
.txt-video{
	color: rgb(246, 249, 252);
	background: rgb(10, 10, 10);
	width: 100%;
	padding: 0.2em;
	margin-bottom: 5px;	
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.2em;
	text-align: center;
}
/*barra clipe*/

/* Rodapé
-----------------------------*/
footer {
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}
footer h4 {
	color: #49b3fa;
	font-size: 0.8em;
	text-transform: uppercase;
}
footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}
footer .navbar-nav a:hover {
	color: #9bf0e1;
	text-decoration: none;
}
footer ul {
	list-style: none;
}
footer ul li {
	float: right;
	margin: 0 5px;
}
/* Tipografia
-----------------------------*/
@font-face {
	font-family:"Amanda Black";
	src: url("font/AnandaBlack.woff");
}
.txt2{
    font-size: 2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;      
    color: rgb(30, 30, 85) ;
}
h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: white;
}
h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}
h3 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 227px) {
	nav.navbar-transparente {
        padding: 3px 0px;        
    }
    .dodifavi{
        width: 40px;
    }
	h1{
		font-size: 2em;
	}
}
@media (min-width: 375px){
	.dodicapa{
		width: auto;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}







